body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  font-size: 5.5rem;
  color: #66BFBF;
  /*width: 10%; Since this is invalid, and we cannot use text-allign with this, so we use margin
  margin: 0 auto 0 auto;*/
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  color: #66BFBF;
}

h3{
  color: #11999E;
}

a{
  color: #11999E;
}

.Top-container{
  background-color: #ecf4f3;
  padding-top: 100px;
  position: relative; /*Because it is out main parent(outtest div)*/
}

.bottom-container{
  background-color: #66BFBF;
  margin-top: 50px;
  line-height: 2;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-img{
  margin: 100px auto 50px auto;
}

.mid-subtitle{
  padding-top: 30px;
}

.cloud1-img{
  position: absolute;/*Its parent is top-container as it is set as relative*/
  right:300px;
  top: 50px;
}

.cloud2-img{
  position: absolute;/*Its parent is top-container as it is set as relative*/
  left: 300px;
  top: 350px;
}

.hello{
  font-weight: normal;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

p{
    line-height: 2;
}

.webdev{
  width: 25%;
  margin-right: 30px;
  float: left;
}

.oop{
  width: 25%;
  margin-left: 30px;
  float: right;
}

hr{
  border-style: dotted none none none;
  border-width: 6px;;
  border-color: #EAF6F6;
  width: 4%;
  margin: 100px auto;
}

.contact-msg{
  margin: 30px auto 40px auto;
}

.btn{
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{
  background: #30EC3B;
  background-image: -webkit-linear-gradient(top, #30EC3B, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30EC3B, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30EC3B, #2BC4AD);
  background-image: -o-linear-gradient(top, #30EC3B, #2BC4AD);
  background-image: linear-gradient(to bottom, #30EC3B, #2BC4AD);
  text-decoration: none;
}

.footer-link{
  color: #11999E;
}

.trademark{
  color: white;
  margin-bottom: 0;
}

a:hover{
  color:#E1F6F6;
}
